<!DOCTYPE html>
<html>

<head>
    <title>Jobs for You</title>
    <style>
        .centered {
            text-align: center;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card {
            width: calc(50% - 10px);
            margin-bottom: 20px;
            background-color: #ddd;
            border-radius: 5px;
            overflow: hidden;
        }

        .card-content {
            padding: 10px;
            text-align: center;
        }

        .card-title {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .card-subtitle {
            margin-bottom: 10px;
        }

        .card-image {
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Mission Transition</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/jobs">Jobs</a>
                        <a class="nav-link" href="/resume">Resume Builder</a>
                        <a class="nav-link" href="/interview-prep">Interview Preparation</a>
                        <a class="nav-link" href="/therapist">Therapist</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav> -->
    </nav>
    <h1>Jobs For You</h1>
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">General Construction Worker</h2>
                <h3 class="card-subtitle">$27/hr | Masonomics Inc.</h3>
                <a href="https://www.researchgiant.com/contractors-engineering-pleasanton-ca-94566/">
                    <img class="card-image"
                        src="https://cdn.gobankingrates.com/wp-content/uploads/2020/02/construction-project-manager-iStock-1171239675.jpg"
                        alt="Job Image 1">
                </a>
                <p>In this role, you will be a member of our highly reputable estimating team. You will be providing
                    detailed estimates, budgets, cost planning, scope reviews, and pre/post contract negotiations for
                    masonry projects throughout Livermore, Pleasanton, and Dublin areas in California. We’re looking for
                    individuals that are familiar with the software Tradesmen's Master Estimating for masonry.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Security Police Officer</h2>
                <h3 class="card-subtitle">$39.17/hr | Lawrence Livermore National Laboratories</h3>
                <a href="https://www.llnl.gov/join-our-team/careers/find-your-job/all/all/3743990002145856">
                    <img class="card-image"
                        src="https://www.ccprk.com/wp-content/uploads/2021/09/DSC_0832-Edit-scaled-e1631923632861.jpg"
                        alt="Job Image 2">
                </a>
                <p>In this job, you will be a trained security guard working for the Lawrence Livermore National 
                    Labratories. You'll be watching the perimeter and guarding the entrances to prevent any 
                    loitering or unwanted persons from entering sensitive areas. Positions open to indviduals that 
                    are capable of handling physical activity.</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Private Investigator</h2>
                <h3 class="card-subtitle">$30.00/hr | DigiStream</h3>
                <a href="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=7178eeb1-633a-47d7-bf4a-fd12a9dfbef2&ccId=19000101_000001&source=CC2&lang=en_US&selectedMenuKey=CareerCenter">
                    <img class="card-image"
                        src="https://icieducation.co.uk/blog/wp-content/uploads/2019/07/Private-Investigation.jpg"
                        alt="Job Image 3">
                </a>
                <p>This is not your average desk job - being a Surveillance Investigator means you will have a 
                    career with excitement, travel, autonomy, and purpose. This role is meant for an individual 
                    with an adventurous and curious spirit, and the drive to provide our clients with the evidence 
                    they need to defend their cases.</p>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Criminal Investigator</h2>
                <h3 class="card-subtitle">$35.00/hr | Department of Homeland Security</h3>
                <a href="https://www.usajobs.gov/job/722786000">
                    <img class="card-image"
                        src="https://skillpointe.com/sites/default/files/styles/1200_x_530_banner/public/2020-08/Criminal%20investigator.jpg?h=e7845e38&itok=reKMUTYK"
                        alt="Job Image 4">
                </a>
                <p>During the course of their careers, special agents carry out assignments in both investigations
                     and protection and may be assigned to multiple duty stations throughout the U.S. and abroad. 
                     Duties include: conducting criminal investigations pertaining to financial obligations of the 
                     United States, providing protection for various protectees, planning and implementing security 
                     designs for National Special Security Events.</p>
            </div>
        </div>
        
        <!-- Card 5 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Police Recruit</h2>
                <h3 class="card-subtitle">$30.00/hr | San Jose</h3>
                <a href="https://www.sjpdyou.com/for-applicants/applicant-positions/police-recruit">
                    <img class="card-image"
                        src="https://www.sjpdyou.com/home/showpublishedimage/1342/637370850998000000"
                        alt="Job Image 5">
                </a>
                <p>Those who successfully complete the Field Training Program are assigned to the Patrol Division 
                    as a solo beat officer. All officers, in their first three years of service as a San Jose Police 
                    Officer, must be assigned to the Patrol Division. After the three-year period, an officer is 
                    eligible to test for a specialized assignment or take the promotional exam for the rank of sergeant.</p>
            </div>
        </div>

        <!-- Card 6 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Border Protection Officer</h2>
                <h3 class="card-subtitle">$25.00/hr | U.S. Customs and Border Protection</h3>
                <a href="https://www.cbp.gov/careers/ofo?utm_source=indeed&utm_medium=job_board&utm_campaign=ar_fy23_cbpo&utm_content=ofo">
                    <img class="card-image"
                        src="https://www.cbp.gov/assets/careers/application-process/cbpo-texture.png"
                        alt="Job Image 6">
                </a>
                <p>CBP Officers detect and prevent terrorists and terrorist weapons from entering the U.S., 
                    conduct inspections of individuals and conveyances and facilitate the flow of legitimate 
                    trade and travel. CBP Agriculture Specialists from Office of Field Operations (OFO) 
                    intercept dangerous pests that threaten the health and safety of U.S. agriculture. If 
                    you're ready to impact your country and your future, join OFO and find your calling.</p>
            </div>
        </div>

        <!-- Card 7 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Organized Retail Crime Investigator</h2>
                <h3 class="card-subtitle">$30.00/hr | Home Depot</h3>
                <a href="https://careers.homedepot.com/job/17924976/organized-retail-crime-investigator-dublin-ca/">
                    <img class="card-image"
                        src="https://investigativeconsultants.com/wp-content/uploads/2017/03/IMG_4767-900x500.jpg"
                        alt="Job Image 7">
                </a>
                <p>ORC Investigators (HDI-Home Depot Investigations) are responsible for the direction and support 
                    of Organized Retail Crime (ORC) investigations within a specified area of the company. ORC 
                    Investigators will work with various business partners (Corporate Security, dot com, RDO’s, 
                    APM’s and APS’) and leverage all available investigative tools to eliminate and reduce company 
                    exposure to external theft. Key responsibilities include: analyzing information, determination 
                    of exception data to drive investigation, communication and coordination of information to field 
                    teams and other partners, management of the investigative process, coordination with law enforcement 
                    to ensure effective prosecution and restitution recovery, coordination with ORC Analysts to develop 
                    new exception data, management of remote CCTV viewing to support investigative efforts, and case trend 
                    analysis to drive performance and to make recommendations to mitigate theft exposure.</p>
            </div>
        </div>

        <!-- Card 8 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Crime & Intelligence Analyst</h2>
                <h3 class="card-subtitle">$30.00/hr | San Jose Police Department</h3>
                <a href="https://sanjoseca.taleo.net/careersection/ex/jobdetail.ftl?job=2300631&tz=GMT-05%3A00&tzname=America%2FChicago">
                    <img class="card-image"
                        src="https://www.interpol.int/var/interpol/storage/images/9/3/6/7/117639-1-eng-GB/Preview%20analysis%201.jpg"
                        alt="Job Image 8">
                </a>
                <p>The purpose of the CIA position is to collect, analyze, interpret, and integrate crime, staffing 
                    and deployment, performance, related quantitative and qualitative data in support of investigations 
                    and related programs.  The CIA performs complex statistical and analytical research involving the 
                    use of computer applications, random statistical samplings, correlation and regression analysis and 
                    robability studies; develops reports and materials; develops links regarding pattern detection, 
                    crime and criminals, terrorist and organized crime, social and demographic factors within communities; 
                    analyzing crime spatially and temporally; works with outside agencies to address crime issues; updates 
                    and tracks department gang and intelligence files; provides actionable reports to patrol and 
                    investigations for the identification, suppression and apprehension of criminals. </p>
            </div>
        </div>

        <!-- Card 9 -->
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Field Security (Security)</h2>
                <h3 class="card-subtitle">$35.00/hr | AMS.NET</h3>
                <a href="https://www.glassdoor.com/Job/livermore-security-jobs-SRCH_IL.0,9_IC1147367_KO10,18.htm?clickSource=searchBox">
                    <img class="card-image"
                        src="https://www.y12.doe.gov/sites/default/files/assets/image/yph-19-835220_960x640.jpg"
                        alt="Job Image 9">
                </a>
                <p>We are seeking an experienced Alarm/Access Control Installer to join our team. The ideal candidate 
                    will have at least 5 years of experience in the industry and be able to run a deployment. The 
                    candidate must have expertise in cabling, termination on control panels, and programming. The 
                    primary responsibilities of this role will be to install and maintain alarm and access control 
                    systems, troubleshoot issues, and ensure customer satisfaction. </p>
            </div>
        </div>

         <!-- Card 10 -->
         <div class="card">
            <div class="card-content">
                <h2 class="card-title">Asset Protection Specialist</h2>
                <h3 class="card-subtitle">$30.00/hr | Target</h3>
                <a href="https://jobs.target.com/job/-/-/1118/50604047488">
                    <img class="card-image"
                        src="https://tbcdn.talentbrew.com/company/1118/v2_0/img/target-homepage-hero-d.jpg"
                        alt="Job Image 10">
                </a>
                <p>Assets Protection (AP) teams function to keep our guests, team and brand safe and secure and 
                    lead through crisis events. They protect profitable sales by mitigating shortage risks, 
                    preventing, investigating and resolving theft and fraud to ensure product is available for our guest. </p>
            </div>
        </div>

        <!-- Repeat the above card structure for the remaining cards

         Card 14 
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">Title 14</h2>
                <h3 class="card-subtitle">Subtitle 14</h3>
                <img class="card-image" src="placeholder.png" alt="Job Image 14">
                <p>Description 14</p>
            </div>
        </div>
    </div>
-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>